.blog-headline {  
  color: #2d3748;
  font-size: 1.6rem;
  text-decoration: none;
}

.blog-headline:hover {
  text-decoration: underline;
}

.blog-subheadline {
  color: #7f8ea3;
  display: flex;
  align-items: flex-start;
}

.blog-subheadline-tags {
  text-decoration: none;
  color: #7f8ea3;
}

.blog-subheadline-tags:hover {
  text-decoration: underline;
}